* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    height: 100vh;
    position: relative;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header div {
    padding: 5px;
    margin-right: 10px;
}

header a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  position: relative;
  padding: 8px;
}


.tooltip img {
  width: 16px;
}

.shadow {
  display: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(210,210,210,0.6);
  width: 100%;
  height: 100%;
}

.tooltip:hover .shadow {
    display: block;
    z-index: -1;
}

.gmail a:hover, .graphic a:hover {
    text-decoration: underline;
}

.login button {
    padding: 9px 23px;
    font-size: 14px;
    min-height: 40px;
    letter-spacing: .25px;
    background: #1a73e8;
    border: 1px solid transparent;
    border-radius: 4px;
}

.login a {
    color: #fff;
    font-weight: 600;
}

.logo {
    margin-top: 30px;
    text-align: center;
}

.search {
    display: flex;
    max-width: 584px;
    background: #fff;
    width: auto;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 30px auto;
    align-items: center;
}


.search-input {
    background-color: transparent;
    border: none;
    padding: 5px;
    outline: none;
    width: 80%;
}

.search > div {
    padding: 5px; 
}

.search i {
    cursor: pointer;
}

.search .lens {
    padding-left: 16px;
}

.search-buttons {
    display: flex;
    justify-content: center;
}

.search-buttons button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    font-family: arial, sans-serif;
    margin: 11px 4px;
    font-size: 14px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    height: 36px;
    border-radius: 4px;
    cursor: pointer;
}

.language {
    text-align: center;
    font-size: small;
    margin-top: 30px;
}

.language a {
    text-decoration: none;
    color: #1a0dab;
}

footer {
    margin-top: 40px;
    background-color: #f2f2f2;
    color: rgba(0,0,0,.54);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.top {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.bottom ul {
    display: flex;
    list-style: none;
}

.bottom ul a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding-left: 10px;
    margin-top: 20px;
}

.g-second {
    text-align: center;
    padding-top: 10px;
}

.g-second img {
    margin-right: 5px;
}

