* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header div {
    padding: 5px;
    margin-right: 10px;
}

header a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  position: relative;
  padding: 8px;
}


.tooltip img {
  width: 16px;
}

.shadow {
  display: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(210,210,210,0.6);
  width: 100%;
  height: 100%;
}

.tooltip:hover .shadow {
    display: block;
    z-index: -1;
}

.gmail a:hover, .graphic a:hover {
    text-decoration: underline;
}

.login button {
    padding: 9px 23px;
    font-size: 14px;
    min-height: 40px;
    letter-spacing: .25px;
    background: #1a73e8;
    border: 1px solid transparent;
}

.login a {
    color: #fff;
    font-weight: 600;
}